<%= simple_form_for [@yacht, @booking] do |f| %>
  <%= f.input :start_date, class: "datepicker" %>
  <%= f.input :end_date %>
  <div class="create-yacht-action">
    <%= link_to "Back", root_path, class: "btn btn-back" %>
    <%= f.submit "Book", class: "btn btn-validation" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
