<div class="navbar-wagon">
  <!-- Logo -->

  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "My bookings", bookings_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "My yachts", myyachts_yachts_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Connected as #{current_user.first_name} #{current_user.last_name}", '#', class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
    <% end %>
  </div>
</div>

