<%= render 'banner' %>
<div class="container">
  <h1 class="text-center">Our selection of top-class yachts</h1>
  <% if user_signed_in? %>
    <%= render 'pages/cards', yachts: @othersyachts %>
  <% else %>
    <%= render 'pages/cards', yachts: @yachts %>
  <% end %>
  <h1>Available in the best ports in the world</h1>
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
