<%= simple_form_for @yacht do |f| %>
  <%= f.input :name %>
  <%= f.input :port %>
  <%= f.input :price %>
  <%= f.input :passengers_capacity %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <div class="create-yacht-action">
    <%= link_to "Back", root_path, class: "btn btn-back" %>
    <%= f.submit "Add a yacht", class: "btn btn-validation" %>
  </div>
<% end %>
