<div class="container">
  <h2 class="text-center title-form">Edit <%= @yacht.name %></h2>
  <%= simple_form_for @yacht do |f| %>
    <%= f.input :name %>
    <%= f.input :port %>
    <%= f.input :price %>
    <%= f.input :passengers_capacity %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <div class="create-yacht-action">
      <%= link_to "Back", myyachts_yachts_path, class: "btn btn-back" %>
      <%= f.submit "Update", class: "btn btn-validation" %>
    </div>
  <% end %>
</div>
