<div class="card-show-detail">
  <div class="info-yacht-card">

    <div class="container-head">
      <div class="yacht-info">
        <h1 class="text-center"><%= @yacht.name %></h1>
        <div class="img-avatar-yacht">
          <%= cl_image_tag @yacht.photo1, class: 'avatar-yacht' %>
        </div>
        <ul class="list-inline ">
          <li><i class="fas fa-anchor"></i>&nbsp;&nbsp;<%= @yacht.port.address %></li>
          <li><i class="fas fa-users"></i>&nbsp;&nbsp;<%= @yacht.passengers_capacity %></li>
          <li><i class="fas fa-euro-sign"></i>&nbsp;&nbsp;<%= number_with_delimiter(@yacht.price, separator: " ") %>&nbsp;/&nbsp;day</li>
        </ul>
      </div>

      <div class="owner-info">
        <h1>About the owner</h1>
        <%= cl_image_tag @yacht.user.photo, class: "avatar-yacht" %>
        <p><%= @yacht.user.first_name %>&nbsp;<%= @yacht.user.last_name %></p>
      </div>

    </div>

  </div>

  <div id="book-yacht">
    <h1 class="text-center">Want to book this yacht ?</h1>
      <%= render 'bookings/form' %>
  </div>
</div>
